body{
margin: 0;
padding: 0;
}

.first{
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,rgb(92, 212, 212),rgb(149, 102, 205),rgb(224, 148, 233));
  background-size: 600%;
  position: fixed;
  z-index: -99;
  animation: myfirst 60s;
  animation-iteration-count: infinite;
}

@keyframes myfirst {

  0% {background-position: 50% 0%;}
  50%{background-position: 50% 100%;}
  100%{background-position: 50% 0%;}
}

header{
  width:100%;
  height: 110px;
  padding-top: 30px;
  margin: 0px auto;
  font-size: 50px;
  background-color: rgb(58, 56, 71);
}

a{color: rgb(30, 26, 235);}

.logo{
  width: 100px;
  height: 100px;
}



nav{
  list-style-type: none;margin: 0px;padding: 0px;
  text-align: center;
}

nav a{text-decoration: none;}

article{
  text-align: center;
  margin-top: 25px;
}

footer{
  text-align: center;
  width: 100%;
  bottom: 0;
  position: absolute;
}

.top{
  color: rgb(12, 8, 115);
  margin: 0px;
  padding: 5px;
  display: inline-block;
}

.topp{
  color: rgb(12, 8, 115);
  margin: 0px;
  padding: 5px;
}

.topp ul{list-style-type: none;}

.topp li{display: inline-block; margin-right: 50px;}

.topp a{text-decoration: none; font-size: 35px;}

.topp a:hover{font-size: 45px;}

.top:hover .fan{display: block;}

.top:hover{color: rgb(82, 20, 214);}

.top ul{display: none;}

.fan{
  color: rgb(40, 207, 222);
  background-color: rgba(56, 240, 12, 0.99);
  margin: 5px -5px;
  padding: 0px;
  list-style-type: none;
  position: absolute;
}

.fan li{padding: 3px 5px; text-align: left;}

.fan li:hover{color: rgb(10, 82, 54); background-color: rgb(13, 26, 12);}

.fan a{text-align: left; display: block; text-decoration: none; color: rgb(101, 40, 86);}

.fan a:hover{color: rgb(204, 213, 30); background-color: rgb(62, 128, 29); text-decoration: none;}

.profile{
  color: white;
  width: 960px;
  font-size: 23px;
  margin: 0px auto;
}
