body{
margin: 0;
padding: 0;
}

.first{
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,rgb(92, 212, 212),rgb(149, 102, 205),rgb(224, 148, 233));
  background-size: 600%;
  position: fixed;
  z-index: -99;
  animation: myfirst 60s;
  animation-iteration-count: infinite;
}

@keyframes myfirst {

  0% {background-position: 50% 0%;}
  50%{background-position: 50% 100%;}
  100%{background-position: 50% 0%;}
}

header{
  width:100%;
  height: 110px;
  padding-top: 30px;
  margin: 0px auto;
  font-size: 50px;
  background-color: rgba(242, 168, 168, 0.99);
}

nav{
  list-style-type: none;margin: 0px;padding: 0px;
  text-align: center;
}

nav a{text-decoration: none;}

article{margin-top: 100px;}

article{
  text-align: center;
  margin-top: 25px;
}

a{color: rgb(12, 8, 115);}

.logo{
  width: 560px;
  height: 280px;
  margin-top: -25px;
  margin-bottom: -120px;

}

footer{
  text-align: center;
  width: 100%;
  bottom: 0;
  position: absolute;
}

.top-logo{
  text-align: center;
  font-size: 100px;
  margin-top: -30px;
  margin-bottom: -20px;
}

.top-logo a{text-decoration: none;}

.top{
  color: rgb(12, 8, 115);
  margin: 0px;
  padding: 5px;
  display: inline-block;
}

.top ul{display: none;}

.top:hover .fan{display: block; margin-top: -5px;}

.top:hover{color: rgb(82, 20, 214);}

.fan{
  color: rgb(40, 207, 222);
  background-color: rgba(242, 168, 168, 0.99);
  margin: 5px -5px;
  padding: 0px;
  list-style-type: none;
  position: absolute;
}

.fan li{padding: 3px 5px; text-align: left;}

.fan li:hover{background-color: rgb(227, 106, 106);}

.fan a{text-align: left; display: block; text-decoration: none; color: rgb(104, 74, 168);}

.fan a:hover{color: rgb(18, 23, 98); background-color: rgb(227, 106, 106); text-decoration: none;}

.intext{
  font-size: 35px;
  color: white;
  margin-top:70px;
}

.slideshow{
  width: 720px;
  height: 500px;
  margin: 0px auto;
  border: 5px solid white;
  }

.slide-show{margin-top: 45px}



.topp{
  color: rgb(12, 8, 115);
  margin-top: 60px;
  padding: 5px;
}

.topp ul{list-style-type: none;}

.topp li{display: inline-block; margin-right: 50px;}

.topp a{text-decoration: none; font-size: 35px;}

.topp a:hover{font-size: 45px;}

.bts-profile{
  color: white;
  width: 1080px;
  font-size: 23px;
  margin: 0px auto;
  margin-bottom: 25px;
}

.bts-title{margin: 30px 0px;}

.bts-title a{font-size: 35px;}

.member-text{
  margin: 0px auto;
  text-align: center;
  margin-right: -40px;
  margin-top: -40px;
}

.member-text img{
  width: 240px;
  border: 9px solid white;
}

.members{
  display: inline-block;
  text-align: center;
  font-size:20px;
  //text-shadow:0px -1px 0px #ffb3b3,0px 0px 10px #000;
  color:white;
  font-weight: 500;
  letter-spacing: 5px;
  margin-right:40px;
  margin-top: 40px;
  margin-bottom:80px;
}

.members p{
  text-shadow: 0px 0px 15px rgb(249, 87, 63);
  font-size: 25px;
  font-weight: 700;
}

.yf{margin-bottom: 20px;}

.sequence{width: 960px; margin: 0px auto;}

.dis-img-top{
  width: 440px;
  margin-right: 20px;
  display: inline-block;
}

.dis-title-top{
  width: 340px;
  margin-right: 20px;
  display: inline-block;
}

.dis-title-top img{margin: 23px}

.dis-top{
  padding: 30px 0px;
  border-top: 9px solid white;
}

.dis-title{
  width: 310px;
  display: inline-block;;
  vertical-align: top;
}

.dis-title p{
  font-size: 30px;
  color: white;
  text-shadow: 0px 0px 15px rgb(154, 52, 244);
  margin: 4px;
}

.dis-title span{
  font-size: 20px;
  color: white;
}

.dis-title img{width: 285px;}

.slide{
  max-width:960px;
  max-height: 640px;
  position:relative;
  margin:0px auto;

}

.bottom-left{
  position:absolute;
  top:50%;
  left:0;
  color:black;
  font-size:30px;
}

.bottom-right{
  position: absolute;
  top: 50%;
  right: 0;
  color: black;
  font-size: 30px;
}

.gotop{font-size: 30px;}

.gotop a{text-decoration: none;}

.twice-list{
  text-align: left;
  margin-left: 12px;
  font-size: 25px;
  color: white;
}

.d-note{
  width: 310px;
  display: inline;
  vertical-align: top;
}

.d-header{
  font-size: 40px;
  color: rgb(45, 60, 196);
  margin-top: 100px;
  margin-bottom: 30px;

}

.d-img{width: 360px; border: 3px solid white;}

.d{
  display: inline-block;
  text-align: left;
  vertical-align: top;
  padding-left: 30px;
  font-size: 20px;
  color: white;
}

.d1{
  font-size: 20px;
  margin-top: 30px;
  color: white;
}
